{% extends "base.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h3 class="text-center">🔑 {% block title %} Resetimi i Fjalëkalimit {% endblock %}</h3>
        <p class="text-center">{% block description %} {% endblock %}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">{% block button_text %}Dërgo{% endblock %}</button>
        </form>
    </div>
</div>
{% endblock %}
